* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #edeef00a;
}

.navbar {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.navbar-link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.navbar-link:hover {
    color: lightgray;
}

.cut-text {
    margin: 0;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 200px;
}

.cart {
    color: white;
}

.count-button {
    border: 0;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.count-button:active {
    position: relative;
    left: 1px;
    top: 1px;
}

.count {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.count_input {
   font-weight: bold;
}

.count-round {
    position: relative;
    right: 25px;
    top: 15px;
    background-color: #f78400;
    width: 22px;
    height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9pt;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border-radius: 2px;
}

.delete-button {
    border: 0;
    background-color: transparent;
}

.delete-button:active {
    position: relative;
    left: 1px;
    top: 1px;
}

.cart-button:active {
    position: relative;
    left: 1px;
    top: 1px;
}