.navbar {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.navbar-link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.navbar-link:hover {
    color: lightgray;
}

.cut-text {
    margin: 0;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 200px;
}

.cart {
    color: white;
}

.count-button {
    border: 0;
    background-color: #25a266;
    color: white;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.count-button:active {
    position: relative;
    left: 1px;
    top: 1px;
}

.count {
    display: flex;
}

.count_input {
    border: 0;
    width: 30px;
    height: 20px;
    text-align: center;
}

.count-round {
    border: 1px solid white;
    background-color: rgb(216, 20, 20);
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9pt;
    border-radius: 50%;
    color: white;
}

.count_input::-webkit-outer-spin-button,
.count_input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.count_input[type=number] {
  appearance: textfield;
}

.delete-button {
    border: 0;
    background-color: transparent;
}

.delete-button:active {
    position: relative;
    left: 1px;
    top: 1px;
}
