.navbar {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.navbar-link {
    color: rgb(171, 170, 170);
    text-decoration: none;
}

.navbar-link:hover {
    color: lightgray;
}

.cut-text {
    margin: 0; 
    -webkit-line-clamp: 1; 
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 200px;
}

.cart {
    color: white;
}